html, body {
  position: relative;
  height: 100%;
  margin: 0;
  width: 100%;
}

.centered_container {
  position: absolute;
  margin: 0;
  margin-right: -50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.centered_container > h4 {
  margin-bottom: 20px;
}
